:root {
    --color-text: rgba(0, 0, 0, 0.7);
    --color-text-label: rgba(0, 0, 0, 0.6);
    --color-text-inverted: rgba(255, 255, 255, 0.87);

    --color-primary: rgba(1, 18, 51, 1);
    --color-primary2: rgba(19, 60, 85, 1);
    --color-primary3: rgba(50, 74, 95, 1);
    --color-primary4: rgb(155, 170, 182);
    --color-accent: rgb(136, 241, 255);
    --color-secondary: rgba(147, 22, 33, 1);
    --color-secondary2: rgba(163, 27, 27, 1);

    --color-remain: rgb(69, 204, 69);
    --color-may: rgb(14, 78, 173);
    --color-leave: rgb(243, 36, 36);

    --sms-builder-height: 60px;
}

/* Body */

html,
body {
    width: auto !important;
    overflow-x: hidden !important;
    max-width: 972px;
    margin-right: auto;
    margin-left: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
    color: var(--color-text);
    margin: 0;
    background-color: rgba(225, 233, 236, 0.397);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* Basics */

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
}

h1,
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 400;
}

h3 {
    font-size: 1.1rem;
    margin: 0px 0px 10px 0px;
}

h4 {}

table {
    display: block;
    overflow: auto;
    word-wrap: break-word;
}


input {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
    color: var(--color-text);

    margin: 0;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgba(228, 228, 228, 0.6);
    margin: 3px;

    /* Remove inner shadows on mobile safari */
    -webkit-appearance: none;
}

button,
.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0;
    padding: 7px 15px 5px 15px;
    border-radius: 3px;
    border: none;
    margin: 3px;
    color: white;
    background-color: var(--color-primary2);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}


button:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

button.selected,
.button.selected {
    background-color: var(--color-accent);
    color: var(--color-text);
}

button.selected:hover,
.button.selected:hover {
    cursor: not-allowed;
}

button:hover,
.button:hover {
    transform: scale(1.01);
}

/* Utilities */

.sep {
    height: 1px;
    background-color: var(--black);
    margin: 10px 5px;
    opacity: 0.5;
}

.bold {
    font-weight: 700;
}





/* Layout Stuff */

.panels {
    display: flex;
}

.panel {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.panel.info {
    background-color: var(--color-primary4);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text-inverted);
    padding: 10px;
}

@media only screen and (max-width: 700px) {
    .panels {
        flex-direction: column;
    }
}

section>h2:first-child {
    display: block;
    text-align: center;
    background-color: var(--color-secondary2);
    margin: 0;
    padding: 4px 8px;
    color: var(--color-text-inverted);
    border-bottom: 5px solid var(--color-primary4)
}



/* Sections */

/* Top Matter */

#under-construction {
    font-size: 0.8em;
    background-color: var(--color-accent);
    text-transform: uppercase;
    padding: 5px;
    margin: 0;
    text-align: center;
}

#under-construction h2,
#under-construction p {
    margin: 5px 0px;
}

.under-construction-info {
    padding: 1em;
    margin: auto;
}

#presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    color: var(--color-text-inverted);
    padding: 20px;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    background-image: linear-gradient(to right, rgba(1, 18, 51, 0.85) 0%, rgba(1, 18, 51, 1) 25%, rgba(19, 60, 85, 1) 75%, rgba(19, 60, 85, 0.85) 100%),
        url(/static/img/eu.png),
        url(/static/img/uj.png);
    background-repeat: no-repeat,
        no-repeat,
        no-repeat;
    background-position: left,
        right,
        left;
}

#presentation #brexit {
    font-size: 2rem;
}



#presentation #twitter-link {
    flex-basis: 40px;
    background-image: url(/static/img/twitter.png);
    background-size: contain;
    background-position-y: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* Bottom Matter */

footer {
    background-color: var(--color-primary4);
    padding: 10px;
    margin-bottom: var(--sms-builder-height);
}

footer #footer-title {
    font-weight: 700;
}

nav {
    font-weight: 400;
    font-size: 0.9rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

nav ul li {
    text-transform: uppercase;
}

nav ul li.active {
    text-decoration: underline;
}

#slogan {
    font-size: 1.1rem;
}

/* Section 1 : Live Results Summary */


.A {
    fill: var(--color-may);
    background-color: var(--color-may);
}

.B {
    fill: var(--color-leave);
    background-color: var(--color-leave);
}

.C {
    fill: var(--color-remain);
    background-color: var(--color-remain);
}

.main-choice-section svg text {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 600;
}

#live-results-representatives {
    background-color: var(--color-primary2);
    padding: 10px;
    color: var(--color-text-inverted);
    border-radius: 5px;
}

ul.top-ten-representatives {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    padding: bottom;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

ul.top-ten-representatives li {
    margin: 5px 0px;
}

ul.top-ten-representatives li:last-child {}

.top-ten-rep .rep-position {
    font-weight: 700;
    color: white;
    width: 30px;
    display: inline-block;
}

.top-ten-rep .rep-score {
    margin-left: 10px;
    font-size: 0.75rem;
    opacity: 0.65;
}

.total-votes,
.total-charity {
    font-weight: 400;
    color: var(--color-accent);
}

.total-votes label,
.total-charity label {
    margin-right: 20px;
    color: white;
}

/* Section 2 : Make Your Choice Introduction */

.optional-label {
    color: var(--color-text-label);
    margin-bottom: 20px;
}

.personal-information-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.personal-information-inputs input {
    max-width: 200px;
}

.personal-information-inputs>div {
    display: flex;
    flex-direction: column;
}

.presentation-only {
    color: var(--color-text-label);
    font-size: 0.75rem;
}

/* Section 3: What should we do */


.main-option-button button {
    text-align: left;
    padding: 15px 15px 30px 15px;
    text-transform: none;
    position: relative;
    font-size: 1.15rem;
    margin: 20px 0px;
    width: 80vw;
    max-width: 750px;
}

.main-option-button span.number-choices {
    position: absolute;
    bottom: -10px;
    left: -5px;
    background-color: var(--color-secondary2);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 300;
    color: white;
}

.main-option-button button::after {
    content: "Click to choose";
    font-size: 0.7rem;
    opacity: 0.6;
    position: absolute;
    right: 10px;
    bottom: 10px
}

.main-option-button button.selected::after {
    content: none;
}

.chosen-by-header,
.main-option-chosen-by {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
}


.main-option-totals-row {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 300;
}

.main-option-totals-row .total-choices-value {
    font-weight: 700;
    margin-left: 20px;
}


/* Section 4: Who do you trust */


#list-of-persons-container {
    max-height: 60vh;
    min-height: 60vh;
    overflow-y: auto;
}



table#list-of-persons {
    margin-bottom: 10px;
    border-collapse: collapse;
}

table#list-of-persons th,
table#list-of-persons td {
    text-align: left;
    box-sizing: border-box;
    padding: 3px;
}

table#list-of-persons td.representative-name {
    width: calc(100% - 1em);
}

table#list-of-persons thead {
    position: sticky;
    top: 0;
    z-index: 20;
}

table#list-of-persons thead tr th {
    /* Required to make the list of representatives scroll 'under' the headings.*/
    /* background-color: white; */
}

table#list-of-persons th {
    white-space: nowrap;
    vertical-align: top;
}

table#list-of-persons th .help-text {
    font-size: 0.6em;
    font-weight: normal;
    color: var(--dark-grey);
}

table#list-of-persons td {
    font-size: 0.9rem;
}

table#list-of-persons td.button {
    font-size: 0.7rem;
    padding: 3px 7px 3px 7px;
    margin: 2px;
    width: 35vw;
}

.rep-page-selector {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

/* Hack to get all the button text and counter text to line up */
.rep-page-selector * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rep-page-selector button {
    font-size: 0.6rem;
    color: var(--color-text);
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: 1px solid var(--color-primary);
}

.representatives-totals-row {
    font-weight: 400px;
    border-top: 1px solid var(--color-primary4);
    border-bottom: 1px solid var(--color-primary4);
    padding: 5px 0px;
    margin-bottom: 10px;
}

.representatives-totals-value {
    font-weight: 700;
    margin-left: 20px;
}

#add-person {
    display: flex;
    flex-direction: column;
}

#add-person button {
    background-color: transparent;
    color: var(--color-primary);
}




/* Section 5: Donations */


#donation-amount-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.charity-choice {
    box-sizing: border-box;
}

#donation-amount-selector input[type="radio"] {
    display: none;
}

#donation-amount-selector .button {
    text-transform: lowercase;
}



table.charity-choice-table button {
    font-size: 0.7rem;
    padding: 3px 7px 3px 7px;
    margin: 2px;
    width: 35vw;
}

/* SMS Builder */
#sms-builder {
    color: white;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: var(--color-primary);
    position: fixed;
    bottom: 0;
    display: flex;
    height: var(--sms-builder-height);
    padding: 0px 5px;
}