:root {
    --color-text: rgba(0, 0, 0, 0.7);
    --color-text-label: rgba(0, 0, 0, 0.6);
    --color-text-inverted: rgba(255, 255, 255, 0.87);

    --color-primary: rgba(1, 18, 51, 1);
    --color-primary2: rgba(19, 60, 85, 1);
    --color-primary3: rgba(50, 74, 95, 1);
    --color-primary4: rgb(155, 170, 182);
    --color-accent: rgb(136, 241, 255);
    --color-secondary: rgba(147, 22, 33, 1);
    --color-secondary2: rgba(163, 27, 27, 1);

    --color-remain: rgba(19, 60, 85, 0.95);
    --color-may: rgba(19, 60, 85, 0.7);
    --color-leave: rgba(19, 60, 85, 0.4);

    --sms-builder-height: 20px;
}

/* Body */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    margin: 0;
    background-color: rgba(225, 233, 236, 0.397);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
}

/* Basics */

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
}



h2 {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 400;
}

h3 {
    font-size: 1.1rem;
    text-transform: uppercase;
}

h4 {
    text-transform: uppercase;
}

table {
    display: block;
    overflow: auto;
    word-wrap: break-word;
}


input {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgba(228, 228, 228, 0.6);
    margin: 3px;
    text-transform: uppercase;
    /* Remove inner shadows on mobile safari */
    -webkit-appearance: none;
}

button,
.button {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0;
    padding: 7px 15px 5px 15px;
    border-radius: 3px;
    border: none;
    margin: 3px;
    color: white;
    background-color: var(--color-primary2);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

button.selected,
.button.selected {
    background-color: var(--color-secondary2);
}

button.selected:hover,
.button.selected:hover {
    cursor: not-allowed;
}

button:hover,
.button:hover {
    transform: scale(1.01);
}

/* Utilities */

.sep {
    height: 1px;
    background-color: var(--black);
    margin: 10px 5px;
    opacity: 0.5;
}

.bold {
    font-weight: 700;
}





/* Layout Stuff */

.panels {
    display: flex;
}

.panel {
    flex: 1;
    padding: 20px;
}

@media only screen and (max-width: 700px) {
    .panels {
        flex-direction: column;
    }
}

section>h2:first-child {
    display: block;
    background-color: var(--color-secondary2);
    margin: 0;
    padding: 8px;
    color: var(--color-text-inverted);
    box-shadow: 0px 5px 10px rgba(61, 61, 61, 0.397);
}



/* Sections */

/* Top Matter */

#under-construction {
    font-size: 0.8em;
    background-color: var(--color-accent);
    text-transform: uppercase;
    padding: 5px;
    margin: 0;
    text-align: center;
}

#under-construction h2,
#under-construction p {
    margin: 5px 0px;
}

#presentation {
    color: var(--color-text-inverted);
    padding: 20px;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    background-image: linear-gradient(to right, rgba(1, 18, 51, 0.85) 0%, rgba(1, 18, 51, 1) 25%, rgba(19, 60, 85, 1) 75%, rgba(19, 60, 85, 0.85) 100%),
        url(/static/img/eu.png),
        url(/static/img/uj.png);
    background-repeat: no-repeat,
        no-repeat,
        no-repeat;
    background-position: left,
        right,
        left;
}

/* Bottom Matter */

footer {
    background-color: var(--color-primary4);
    padding: 10px;
    margin-bottom: var(--sms-builder-height);
}

nav {
    background-color: rgb(243, 243, 243);
    padding: 5px 15px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

nav ul li {
    text-transform: uppercase;
    font-size: 0.8em;
}

nav ul li.active {
    text-decoration: underline;
}

#slogan {
    font-size: 1.1rem;
}

/* Section 1 : Live Results Summary */


.main-choice-section svg path.A {
    fill: var(--color-leave);
}

.main-choice-section svg path.B {
    fill: var(--color-may);
}

.main-choice-section svg path.C {
    fill: var(--color-remain);
}

.main-choice-section svg text {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 600;
}

ol.top-ten-representatives {
    margin: 0;
    padding: 0;
}

ol.top-ten-representatives li {
    margin-bottom: 3px;
    margin-top: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

ol.top-ten-representatives li:last-child {
    border-bottom: none;
    margin-bottom: none;
}

/* Section 2 : Make Your Choice Introduction */

.optional-label {
    color: var(--color-text-label);
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.presentation-only {
    color: var(--color-text-label);
    font-size: 0.75rem;
}

/* Section 3: What should we do */


.main-option-button button {
    text-align: left;
    padding: 15px 15px 30px 15px;
    text-transform: none;
    font-weight: 100;
    width: 60vw;
    position: relative;
    font-size: 1.15rem;
}

.main-option-button button::after {
    content: "Click to choose";
    font-size: 0.7rem;
    opacity: 0.6;
    position: absolute;
    right: 10px;
    bottom: 10px
}

.main-option-button button.selected::after {
    content: none;
}

.chosen-by-header,
.main-option-chosen-by {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* Section 4: Who do you trust */


#list-of-persons-container {
    max-height: 60vh;
    min-height: 60vh;
    overflow-y: auto;
}

table#list-of-persons {
    margin-bottom: 10px;
    border-collapse: collapse;
}

table#list-of-persons th,
table#list-of-persons td {
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}

table#list-of-persons td.representative-name {
    width: calc(100% - 1em);
}

table#list-of-persons thead {
    position: sticky;
    top: 0;
    z-index: 20;
}

table#list-of-persons thead tr th {
    /* Required to make the list of representatives scroll 'under' the headings.*/
    /* background-color: white; */
}

table#list-of-persons th {
    white-space: nowrap;
    vertical-align: top;
}

table#list-of-persons th .help-text {
    font-size: 0.6em;
    font-weight: normal;
    color: var(--dark-grey);
}

table#list-of-persons td {
    font-size: 0.9rem;
}

table#list-of-persons td.button {
    font-size: 0.7rem;
    padding: 3px 7px 3px 7px;
    margin: 2px;
    width: 25vw;
}

/* Section 5: Donations */


#donation-amount-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.charity-choice {
    width: 100%;
    box-sizing: border-box;
}

#donation-amount-selector input[type="radio"] {
    display: none;
}

#donation-options {
    display: flex;
    flex-direction: column;
}

#donation-options {
    display: flex;
    flex-direction: column;
}

#donation-options div {
    font-size: 0.9rem;
    margin: 3px;
}

table.charity-choice-table button {
    font-size: 0.7rem;
    padding: 3px 7px 3px 7px;
    margin: 2px;
    width: 35vw;
}

/* SMS Builder */
#sms-builder {
    background-color: var(--color-accent);
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100vw;
    padding: 20px;
    height: var(--sms-builder-height);
}